<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VINHBEO PORTAL</title>
    <link href="~/Styles/Fonts.css" rel="stylesheet" />
    <link href="~/Styles/Styles.css" rel="stylesheet" />
</head>
<body>
    <div>
         @RenderBody()
    </div>
</body>
</html>
